.main__container {
    gap: 1rem;
}

/* .div-mood {
    width: 115px;
    height: 90px;
    background-image: url(/assets/img/gato-chorando.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image 1s ease-in;

    &:hover {
        background-image: url(/assets/img/gato-feliz.jpg);
    }
}
 */
.gif-stitch {
    width: 170px;
}